@model IList<Ecm.CaptureDomain.User>
@{
    ViewBag.Title = "ShowUser";
}
<div class="left-container-child">
    <div class="admin_sub_menu_items row row-xs-11">
        @{
            if (Model != null && Model.Count > 0)
            {
                foreach (var userItem in Model)
                {
                    <div class="sub_menu_item user_container well-nav well-nav-sl clearfix" id="@userItem.Id">
                        <div class="col-md-4">
                            @if (userItem.Photo != null)
                            {
                                <img src="~/CaptureAdmin/GetImageFromCacheByKey?Key=@userItem.Id.ToString()" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Resources/icon_user_profile.png")" />
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="pull-left">
                                <span title="@userItem.UserName"> @userItem.UserName</span>
                                <p class="full_name" title="@userItem.FullName">@userItem.FullName</p>
                            </div>
                            <div class="pull-right">
                                <span class="language_content" title="@userItem.Language.Name">@userItem.Language.Name</span>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Không Có User</p>
            }
        }
    </div>
    <div class="panel_button row row-xs-1">
        <button type="button" id="user_button_add" class="btn btn-primary pull-left">
            <span>Add</span>
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button type="button" id="user_button_delete" class="btn btn-primary pull-right">
            <span>Delete</span>
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
</div>