@model CaptureMVC.Models.CaptureAdminModel
@Scripts.Render("~/Scripts/jquery.form.js")
@{
    ViewBag.Title = "ShowUserProperties";
}
<div class="sub_properties_content container-fluid">
    <div class="row">
            <fieldset>
                <legend>General Information</legend>
                <div class="col-md-2">
                    <div class="profile-avatar">
                        @if (@Model.CaptureUserModel.Photo != null)
                        {
                                <img id="profile_pic" src="~/CaptureAdmin/GetImageFromCacheByKey?Key=@ViewData["KEY_CACHE_PROFILE_PIC"].ToString()" data-keycache="" />
                        }
                        else
                        {
                            <img id="profile_pic" src="@Url.Content("~/Resources/icon_user_profile.png")" data-keycache="" />
                        }
                        <div id="edit_picture" class="change_img">Change</div>
                        <form id="user_form" method="post">
                            <div>
                                <input type="file" name="srcPicture" id="profile_pic_upload" class="hidden" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-10 form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="name">User name</label>
                        <div class="controls">
                            <input type="text" id="user_name" class="form-control" value="@Model.CaptureUserModel.UserName" disabled="disabled">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="name">Full name</label>
                        <div class="controls">
                            <input type="text" id="user_full_name" class="form-control" value="@Model.CaptureUserModel.FullName">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="name">Email</label>
                        <div class="controls">
                            <input type="text" id="user_email_address" class="form-control" value="@Model.CaptureUserModel.Email">
                        </div>
                    </div>
                    <input type="text" id="user_password" class="archive_input hidden" value="@Model.CaptureUserModel.Password">
                </div>
            </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <legend>System</legend>
            <div class="col-md-6">
                <fieldset>
                    <legend>Configuration</legend>
                    @{
                        if (@Model.CaptureUserModel.IsAdmin == true)
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" id="user_is_admin" checked />Is admin</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" id="user_is_admin" />Is admin</label>
                            </div>
                        }
                        if (@Model.CaptureUserModel.ApplyForArchive == true)
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" id="apply_capture_system"  checked/>Apply this user to Capture system</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" id="apply_capture_system" />Apply this user to Capture system</label>
                            </div>
                        }

}

                    <div class="control-group">
                        Language
                        <select id="user_select_language" class="selectpicker span2">
                            @{
                                foreach (var languageItem in Model.ListLanguages)
                                {
                                    if (languageItem.Id == Model.CaptureUserModel.Language.Id)
                                    {
                                        <option id="@languageItem.Id" selected="selected">@languageItem.Name</option>
                                    }
                                    else
                                    {
                                        <option id="@languageItem.Id" value="@languageItem.Name">@languageItem.Name</option>
                                    }
                                }
                            }

                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend class="sub_legend">Member of</legend>                  
                        <div id="user_list_member_of" class="list-group well-while">
                        @{
                            foreach (var userGroupItem in Model.CaptureUserModel.UserGroups)
                            {
                                    
                                <a class="row_usergroup_area list-group-item" id="@userGroupItem.Id">@userGroupItem.Name</a>
                                    
                            }
                        }
                        </div>
                    <div class="span2">
                        <button type="button" id="user_button_add_group" class="btn-small btn-primary pull-left">
                            <span>Add</span>
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button type="button" id="user_button_delete_usergroup" class="btn-small btn-primary pull-right">
                            <span>Delete</span>
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="span3 pull-right">
            <button type="button" id="user_button_save" class="btn btn-primary pull-left">
                <span>Save</span>
                <i class="glyphicon glyphicon-floppy-disk"></i>
            </button>
            <button type="button" id="user_button_cancel" class="btn btn-primary pull-right">
                <span>Close</span>
                <i class="glyphicon glyphicon-ban-circle"></i>
            </button>
        </div>
    </div>
</div>